<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>CyberDiva Live2d test</title>
        </meta>
        
        <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=1.0, maximum-scale=4.0">
        </meta>

        <link rel="stylesheet" href="../static/css/message.css" />
        <script src="../static/js/LAppDefine.js"></script>
        <script src="../static/js/live2d.min.js"></script>
        <script src="../static/js/jquery.min.js"></script>

    </head>

    <body onload="InitLive2D()">
        <div>
            <div class="message" style="height:60px; width:300px;">
                <div class="message-text" style="opacity:0;"></div>
            </div>
            <canvas id="mycanvas" width="300" height="500" style="border:dashed 1px #CCC;"></canvas>
        </div>

        <form id="user_input_form" action="#">
            <input id="user_input" type="text" placeholder="Type your message..." required>
            <button type="submit">Send</button>
        </form>

        <script src="../static/js/script.js"></script>
    </body>
</html>
